@model HomeTest.Data.Entities.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header">Delete product</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col"><p mb-2><strong>Are you sure you want to delete this?</strong></p></div>
                </div>
                <div class="row">
                    <div class="col-3"><strong>@Html.DisplayNameFor(model => model.Name):</strong></div>
                    <div class="col">@Html.DisplayFor(model => model.Name)</div>
                </div>
                <div class="row">
                    <div class="col-3"><strong>@Html.DisplayNameFor(model => model.Description):</strong></div>
                    <div class="col">@Html.DisplayFor(model => model.Description)</div>
                </div>
                <div class="row">
                    <div class="col-3"><strong>@Html.DisplayNameFor(model => model.Quantity):</strong></div>
                    <div class="col">@Html.DisplayFor(model => model.Quantity)</div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <input type="submit" value="Delete" class="btn btn-danger" />
                                <a asp-action="Index" class="btn btn-light">Back to List</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
